language: node_js
before_install:
  - curl -o- -L yarnpkg.com/install.sh | bash -s -- --version 1.7.0
  - export PATH=$HOME/.yarn/bin:$PATH
branches:
  only:
    - master
cache:
  yarn: true
script:
  - 'yarn lint'
